.blog-show{
    padding-top: 1em;
    padding-bottom: 2em;

    .title{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .image{
        margin: 0;
        padding: 0;
    }

    .article{
        padding: 2em 0;
        font-size: 1.25em;
    }
}